body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	text-align: left;
}

header {
	text-align: center;
	width: 100%;
}


#sideBar {
	width: 20%;
	float: right;
	right: 5%;
	margin: 10px;
	padding: 5px;
	border: 5px;
	background: whitesmoke;
	border-radius: 5px;
	position: fixed;
	opacity: .85;
	z-index: 1;
}

#image {
	height: 200px;
	background-size: cover;
	background-position: center; 
	display: none
}



h1 {
	margin: 10px;
	padding: 5px;
	border: 5px;
	background: whitesmoke;
	border-radius: 5px;
	z-index: 1;
}

p {
	margin: 10px;
	padding: 5px;
	border: 5px;
	background: whitesmoke;
	border-radius: 5px;
}

#bottomBar {
	width: 24%;
	float: right;
	position: fixed;
	bottom: 1%;
	right: 3%;
	z-index: 1;
	font-size: 13px;
	opacity: 0.9;
}

#listOfPlaces {
    float: left;
    padding: 0px;
    margin:10px;
    list-style-type: none;
    z-index: 1;
	box-sizing: border-box;
}

ul {
    padding: 10px;
    margin:25px;
    list-style-type: none;
    z-index: 1;
}


li {
	margin: 2px;
	padding: 5px;
	border: 5px;
	border-radius: 5px;
	display: block; 
	float: left;
}
 
.leaflet-popup-content {
	margin: 10px 10px ! important;
	line-height: 1.4;
	background: transparent;
	opacity: 0.75;
	font-size: 14px;
	max-width: 125px;
}

.leaflet-popup-tip {
	opacity: 0.9;
}

.leaflet-popup-content-wrapper {
	padding: 1px ! important;
	border-radius: 0px ! important;
	text-align: center ! important;
	opacity: 0.9;
	background: whitesmoke;
}

.place {
	background: whitesmoke;
	opacity: .75;
}

.place.hover {
	background: black;
	color: white;
}

.jackpot {
	display: none;
	color: #0787BC;
	font-weight: bold;
}

.tryAgain {
	display: none;
	color: #F06216;
	font-style: italic;
}



#map {
	height: 100%;
	float: left;
	width: 100%;
	z-index: 0
}


