body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
}

header {
	text-align: center;
	width: 100%;
}

h1 {
	right: 10%;
	margin: 10px;
	padding: 5px;
	border: 5px;
	background: whitesmoke;
	border-radius: 5px;
	position: fixed;
	opacity: .75;
	z-index: 1;
}

p {
	top: 20%;
	right: 25%;
	margin: 10px;
	padding: 5px;
	border: 5px;
	background: whitesmoke;
	border-radius: 5px;
	position: fixed;
	opacity: .75;
	z-index: 1;
}

ul {
    float: left;
    width:25%;
    padding: 0px;
    margin:2px;
    list-style-type: none;
 	position: fixed; 
    z-index: 1;
    top: 20%;
	right: 8%;
	box-sizing: border-box;
}

li {
	margin: 5px;
	padding: 5px;
	border: 5px;
	border-radius: 5px;
	display: block; 
	float: left;
}
 
.leaflet-popup-content {
	margin: 0px 0px ! important;
	line-height: 1.4;
	background: whitesmoke;
	opacity: 0.75;
	}

.leaflet-popup-tip {
	opacity: 0.5;
}

.leaflet-popup-content-wrapper {
	padding: 1px ! important;
	border-radius: 0px ! important;
}

.place {
	background: whitesmoke;
	opacity: .75;
}

.place.hover {
	background: black;
	color: white;
}

.jackpot {
	display: none;
}


#map {
	height: 100%;
	float: left;
	width: 100%;
	z-index: 0
}

#sideBar {
	width: 20%;
	float: right;
}

