body {
	font-family: sans-serif;
	text-align: center;
}

header {
	text-align: center;
	background-size: cover;
}

h1 {
	text-align: center;
}

p{
	text-align: center
}

.leaflet-popup-content {
	margin: 1px 2px;
	line-height: 1.4;
	}

.leaflet-popup-content p {
	margin: 0px 0px;
}

.leaflet-popup-content-wrapper {

}

#map { height: 500px; }
